.Home{
    background: #333;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}