.Blog{
    background:  darkslategrey;
    padding: 1em;
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 12px;
    
    img{
        width: 100%;
        border-radius: 8px;
    }
    .text-container{
        text-align: start;
    }
}