@import "./Components/Card/Card.scss";
@import "./Components/Nav/Nav.scss";
@import "./Pages/Home/Home.scss";
@import "./Components/Footer/Footer.scss";
@import "./Pages/Gallery/Gallery.scss";
@import "./Components/Blog/Blog.scss";
.App {
  font-family: DM Sans;
  text-align: center;
  
}
body{
  background:  black;
  color: whitesmoke;
}




